<form action="{{formUrl}}" method="{{method}}" id="match-fetcher-form">
  <div class="form-group">
    <label for="exampleInputAddress">Insert FFS Match ID</label>
    <input type="text" name="match_id" class="form-control" id="exampleInputAddress" placeholder="address">
  </div>

  <div class="form-group">
    <p class="help-block1"></p>
    <p class="help-block2"></p>
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>