<table id="example" class="display" width="100%"></table>


<script>
  window.data = [];
  let match = [];
  {{#each matches}}
    match = [];
    {{#each this}}
      match.push('{{this}}');
    {{/each}}
    window.data.push(match)
  {{/each}}

  $(document).ready(function () {
    $('#example').DataTable({
      data: window.data,
      columns: [
      { title: "ID",
        render: function(data, type, row, meta){
            if(type === 'display'){
                data = '<a href="/matches/' + data + '">' + data.slice(-8) + '</a>';
            }
            
            return data;
         }
      },
      { title: "Home Team" },
      { title: "Home Score" },
      { title: "Away Team" },
      { title: "Away Score" },
      { title: "Date" }
    ]
    });
  });
</script>