<table id="allMatches" class="compact hover" width="100%">
  <thead>
    <tr>
      <th>#</th>
      <th>GameWeek</th>
      <th>Home Team</th>
      <th>Home Team Score</th>
      <th>Away Team Score</th>
      <th>Away Team</th>
      <th>Matchday</th>
    </tr>
  </thead>
  <tbody>
    {{#each matches}}
    <tr>
      <th><a class="text-truncate" href="/matches/{{[0]}}">{{[0]}}</a></th>
      <th>{{[1]}}</th>
      <th>{{[2]}}</th>
      <th>{{[3]}}</th>
      <th>{{[4]}}</th>
      <th>{{[5]}}</th>
      <th>{{[6]}}</th>
    </tr>
    {{/each}}
  </tbody>
  <tfoot>
    <tr>
      <th>#</th>
      <th>GameWeek</th>
      <th>Home Team</th>
      <th>Home Team Score</th>
      <th>Away Team Score</th>
      <th>Away Team</th>
      <th>Matchday</th>
    </tr>
  </tfoot>
</table>



<script>
  $(document).ready(function () {
    $('#allMatches').DataTable({});
  });
</script>